@model IEnumerable<PersonDTO>

@{
    ViewData["Title"] = "People";
}

<div class="row">
    <div class="col">
        <h2>People List</h2>
    </div>
    <div class="col-auto">
        <a class="btn btn-primary" asp-action="Create" asp-controller="People">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
            </svg>
            Create Person
        </a>
    </div>
    <div class="col-12 border my-3"></div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Create Date</th>
                        <th scope="col">Last Update Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Any())
                    {
                        @foreach(var person in Model)
                        {
                            <tr id="@person.Id">
                                <td>@person.FirstName</td>
                                <td>@person.LastName</td>
                                <td>@person.Email</td>
                                <td>
                                    <span class="badge bg-secondary">@person.CreateDate</span>
                                </td>
                                <td>
                                    <span class="badge bg-warning">@(person.LastUpdateDate == null ? "Not Edited!" : person.LastUpdateDate)</span>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-title="Details" asp-action="Details" asp-controller="People" asp-route-id="@person.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                        </svg>
                                    </a>
                                    <a class="btn btn-sm btn-warning" data-bs-toggle="tooltip" data-bs-title="Edit" asp-action="Edit" asp-controller="People" asp-route-id="@person.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" wiBdth="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                        </svg>
                                    </a>
                                    <a class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-title="Delete" data-delete="true" data-delete-url="/People/Delete" data-delete-id="@person.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Styles
{
    <link rel="stylesheet" href="~/lib/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css" />
}

@section Scripts
{
    <script src="~/lib/toastr/build/toastr.min.js"></script>
    <script src="lib/sweetalert2/dist/sweetalert2.min.js"></script>
}
